body{
	background-color: #F8F8FF;
}

header, section, footer{
	max-width: 800px;
	background-color: #FFFFFF;
	margin: auto;
}

header{
	height: 100px;
	text-align: center;	
}

footer{
	height: 100px;
	text-align: center;
}
